<body>    
    <div class="box-area">
        <header>
            
        </header>
        <div class="banner-area">
            <h2>Welcome</h2>
        </div>
        <div class="content-area">
            <div class="wrapper">
               <h2>About Us</h2>
               <p>Delivering excitement, innovation and freshness, 
                   BuyCloth is an e-commerce channel that promises to offer an exquisite range of 
                   lifestyle products. BuyCloth brings customers the latest fashionable clothing, 
                   accessories, home decor selections and style of living assortment. 
                   Not just grown-ups, there's an abundance of collection for kids as well. 
                   We strive to make your shopping hassle-free with our - authenticated prices and 
                   timely delivery services with heart winning offers- bringing you a user-friendly 
                   experience when looking for your favorite outfit. Our designs, cleverly inspired by a 
                   perfect blend of Indian heritage and international flair, come alive through our 
                   products, which are ideal additions to your fashion, home, office, or for gifting. 
                   Give us a chance to be your instant online fashion www.BuyClothStore.com</p>
            </div>
        </div>
    </div>
</body>
